<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hey There!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <style>
        body {
            background-color: {{color}};
        }
    </style>
</head>
<body>
    {% for i in range(times)%}
    <p>{{ name }}</p>
    {% if i == 2 %} <p>This is the third time I said {{name}} </p>
    <img src="{{ url_for('static', filename='img/cake.jpg') }}" alt="cake">
    {%endif%} 

    {%endfor%}



    {#<p>{{times}}</p>#}
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>